/*-------
1- header
2- inner-header
3- About
4- practise
5- team
6- blog
7- contactme
8- quote
9- contact
10- client
11- footer
12- resposive
-----*/

html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 100%;
    width: 100%;
    line-height: 23px;
    color: #2c3e50;
}
img {
    max-width: 100%;
}
.section-padding {
    float: left;
    padding: 100px 0;
    width: 100%;
}
.title {
    margin-bottom: 50px;
    text-align: center;
}
.title h2 {
    font-size: 42px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
	 font-family: "Montserrat",sans-serif;
	  background: rgba(0, 0, 0, 0) url("../img/tiltle-brk.png") no-repeat scroll center bottom;
	   padding-bottom: 40px;
}
.title img {
    display: none;
}
.title span {
    color: #e49600;
}
.btn.prev {
   background: #fff none repeat scroll 0 0;
    border-radius: 0;
    font-size: 25px;
    left: 0;
    padding: 21px 10px;
    position: absolute;
    top: 50%;
}
 #map {
                width: 100%;
                height: 500px;
            }
.btn.next {
   background: #fff none repeat scroll 0 0;
    border-radius: 0;
    font-size: 25px;
    right: 0;
    padding: 21px 10px;
    position: absolute;
    top: 50%;
}
.pagination > li > a, .pagination > li > span {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #ccc;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}
.read-more {
    background: #073823 none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-family: "Montserrat",sans-serif;
    margin-top: 20px;
    padding: 15px 30px;
    text-transform: uppercase;
}
a {
   
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    color:#000;
}
a {
    color: #073823;
     transition: all 0.35s ease 0s;
     text-decoration:none;
}
a:hover, a:focus {
    color: #e49600;
     text-decoration:none;
}
#loading {
    background-image: url("../img/preloader.GIF");
    background-position: center center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}
#preloader {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}
.logo2 {
    display: none;
}
/*-------header-----*/
header {
    background: rgba(0, 0, 0, 0) url("../img/header.jpg") repeat scroll 0 50% / cover ;
    color: #fff;
    height: 800px;
    overflow: hidden;
    transition: all 0.35s ease 0s;
}
.inner-header-text a {
    color: #e49600;
}
.home-slider4 {
    background: #073823 none repeat scroll 0 0;
    height: 768px;
    margin-top: 119px;
     position: relative;
}
.home-slider4::before {
    background: #e49600 none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    width: 50%;
}
.home-slider4 .caption span {
    color: #fff;
}
.hide-bg {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: auto;
}
.logo {
    float: left;
}
.dropdown-menu {
    min-width: 100%;
}
.mega-dropdown {
    position: static !important;
}
.mega-dropdown-menu {
    box-shadow: none;
    padding: 20px 0;
    width: 100%;
}
.mega-dropdown-menu > li > ul {
    margin: 0;
    padding: 0;
}
.mega-dropdown-menu > li > ul > li {
    list-style: outside none none;
}
.mega-dropdown-menu > li > ul > li > a {
    color: #222;
    display: block;
    padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover, .mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
    color: #ff3546;
    font-size: 18px;
    line-height: 30px;
    padding: 5px 60px 5px 5px;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #e49600;
    color: #fff;
    text-decoration: none;
}
.dropdown-menu > li > a {
    clear: both;
    color: #333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 10px 20px;
    white-space: nowrap;
}
.nav.navbar-nav > li::before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 15px;
    position: absolute;
    right: 0;
    top: 39%;
    width: 1px;
}
.nav.navbar-nav > li:last-child::before {
    display: none;
}
.carousel-control {
    height: 30px;
    top: -35px;
    width: 30px;
}
.left.carousel-control {
    left: inherit;
    right: 30px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
    font-size: 12px;
    line-height: 30px;
    text-shadow: none;
}
.navbar-inverse .navbar-brand {
    color: #000;
    font-size: 28px;
}
nav {
    background: #073823 none repeat scroll 0 0 !important;
    border: 0 none !important;
    border-radius: 0 !important;
    float: left;
    width: 100%;
}
.navbar-nav {
    float: none;
    margin: auto;
    width: 1080px;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    left: 0;
    position: fixed;
    right: 0;
    transition: all 0.35s ease 0s;
    z-index: 1030;
}
.affix {  
    padding: 0;
    width: 100%;
}
.navbar {
    margin-bottom: 0;
}
.affix-top {
    margin-top: 70px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-size: 14px;
    padding: 7px 25px;
    text-transform: uppercase;
}
.navbar-brand .fa.fa-graduation-cap {
    color: #e49600;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background: none;
    color: #e49600;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #e49600;
}
.navbar-nav > li > a {
    line-height: 44px;
}
.size {
    color: #fff;
    font-size: 45px;
}
.header-hight {
    background-position: 0 -185px;
    height: 400px;
}
.header-text {
    color: #fff;
    display: block;
    font-family: "Montserrat",sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin: 250px auto auto;
    text-align: center;
    text-shadow: 1px 1px 1px #333;
    text-transform: uppercase;
    width: 900px;
}
.header-hight .header-text {
    margin: 230px auto auto;
}
.navbar-right {
    float: right !important;
    margin-right: 0;
}
.header-text > p {
    font-family: "Open Sans Condensed",sans-serif;
    font-size: 17px;
    font-weight: 100;
    line-height: 35px;
    margin: 20px auto auto;
    text-transform: capitalize;
    width: 80%;
}
.header-btn {
    border: 1px solid;
    color: #fff;
    display: table;
    font-size: 18px;
    margin: 30px auto auto;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.35s ease 0s;
}
.header-btn:hover {
    background: #fdb33b none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    text-decoration: none;
    transition: all 0.35s ease 0s;
}
.top-header {
    background: #fff none repeat scroll 0 0;
    color: #073823;
    float: left;
    padding: 20px 0;
    width: 100%;
}
.top-header .social ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    text-align: right;
}
.top-header .social li {
    display: inline;
    margin-left: 10px;
}
.top-header .social a {
    color: #fff;
    font-size: 18px;
}
.top-header .social a:hover {
    color: #000;
}
.phone i {
    font-size: 32px;
    margin-top: 10px;
}
.address i {
    font-size: 32px;
    margin-top: 10px;
}
.time i {
    font-size: 32px;
    margin-top: 10px;
}
.brd {
    background: #e49600 none repeat scroll 0 0;
    color: #fff;
    margin-bottom: 123px;
    margin-top: -34px;
    padding: 25px 0 15px;
    position: relative;
}
.cd-hero-slider h2 {
    font-size: 55px !important;
	font-weight:100 !important;
	font-family: 'Montserrat', sans-serif;
}
.cd-hero-slider p {
    font-size: 0.95rem !important;
}
.cd-full-width strong {
    color: #e49600;
}
.brd li {
    display: inline;
    margin-right: 10px;
}
.brd a {
    color: #000;
}
.carousel-inner > .item {
    height: 960px;
    overflow: hidden;
}

.caption {
    color: #fff;
    display: block;
    font-size: 24px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 350px;
    text-align: center;
    text-transform: uppercase;
    width: 85%;
    z-index: 999;
    position: relative;
}
.left-control {
    background: #010209 none repeat scroll 0 0;
    color: #fff;
    font-size: 20px;
    padding: 30px 14px;
    position: absolute;
    left: 0;
    top: 45%;
    z-index: 999;
}
.right-control {
    background: #010209 none repeat scroll 0 0;
    color: #fff;
    font-size: 20px;
    padding: 30px 14px;
    position: absolute;
    right: 0;
    top: 45%;
    z-index: 999;
}
.btn.get-start {
    border: 1px solid #fff;
    color: #fff;
}
.caption h2 {
   font-family: "Montserrat",sans-serif;
    font-size: 55px;
    font-weight: 300;
    color:#fff;
}
.caption p {
    font-size: 0.95rem !important;
    padding: 20px 0;
    text-transform: capitalize;
}
 .caption strong {
    color: #e49600;
    font-weight: 500;
}
 .caption .cd-btn {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #000;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 0.8em;
    padding: 1.2em 3.4em;
    text-transform: uppercase;
    transition: background-color 0.2s ease 0s;
}
.caption .cd-btn.secondary {
    background-color: #073823;
    color: #fff;
    margin-left: 20px;
}
.carousel-indicators .active {
    background: #E49600 none repeat scroll 0 0;
    height: 3px;
    margin: 1px;
    width: 30px;
}
.carousel-indicators > li {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    height: 3px;
    opacity: 1;
    width: 30px;
}
.carousel-indicators {
    bottom: 10px;
}
.topmenu2 {
    margin-top: 0;
}
.topmenu2 .top-header {
    background: rgba(255, 255, 255, 0.15) none repeat scroll 0 0;
    color: #fff;
    padding: 25px 0;
}
.topmenu2 {
    position: absolute;
}
/*-------inner-header-----*/
.inner-header-bg {
    background: rgba(0, 0, 0, 0) url("../img/inner-bg.jpg") repeat scroll 0 50% / cover ;
    height: 500px;
    margin-top: -20px;
}
.inner-header-text {
    color: #fff;
    margin: auto;
    padding-top: 280px;
    text-align: center;
    width: 50%;
}
.inner-header-text h2 {
    background: rgba(0, 0, 0, 0) url("../img/tiltle-brkw.png") no-repeat scroll center bottom;
    color: #fff;
    font-family: "Montserrat",sans-serif;
    font-size: 42px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding-bottom: 40px;
}
.inner-header-text h2 img
{
display:none;
}
.inner-header-text ul {
    padding: 0;
}
.inner-header-text li {
    display: inline;
    margin: 0 10px;
    position: relative;
}
.inner-header-text li::before {
    content: "";
    font-family: FontAwesome;
    position: absolute;
    right: -15px;
}
.inner-header-text li:last-child::before {
    display: none;
}
.contactme2 {
    background: rgba(0, 0, 0, 0) url("../img/bg-per3.jpg") repeat scroll 0 20% / cover ;
    color: #fff;
    padding: 100px 0;
}
.contactme2 a {
    background: #073823 none repeat scroll 0 0;
    display: inline-table;
    font-family: "Montserrat",sans-serif;
    margin-top: 30px;
    padding: 15px 30px;
    color:#fff;
    text-transform: uppercase;
}
.contactme2 h2 {
    color: #fff;
    font-family: "Montserrat",sans-serif;
    margin-bottom: 18px;
}
/*-------About-----*/
.about h2 {
    margin-bottom: 20px;
    margin-top: 0;
}
.about-box ul {
    padding: 0;
	list-style:none;
}
.about-box {
    float: left;
    margin-bottom: 100px;
    width: 100%;
}
.about {
    padding: 100px 0;
}
.about p {
    margin: 0 0 30px;
}
.about li {
    display: list-item;
    margin-top: 20px;
}
.about li::before {
    color: #e49600;
    content: "";
    font-family: FontAwesome;
    margin-right: 10px;
}
.dropcap {
    background: #e49600 none repeat scroll 0 0;
    border-radius: 0;
     color: #ffffff;
    display: block;
    float: left;
    font-size: 36px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    margin: 0 20px 20px 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 50px;
}
.list.styled.arrow-list > ul {
    padding: 0;
}
.list.styled > ul li {
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight: 300;
    list-style: outside none none;
    padding: 5px 0;
    text-transform: uppercase;
}
.list.styled > ul li a {
    color: #4b4b4b;
    text-shadow: 0 0 0 #4b4b4b;
}
.list.styled > ul li a:hover, .list.styled > ul li a:focus {
    color: #e49600;
    text-shadow: 0 0 0 #a2c331;
}
.list.styled > ul li a::before {
    color: #e49600;
    content: "";
    font-family: fontawesome;
    font-size: 12px;
    padding-right: 6px;
}
.pad {
    padding: 0;
}
.about-cover {
    margin-bottom: 20px;
}
.extra-wrap {
    float: left;
    margin-bottom: 20px;
}
.about strong {
    display: table;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: uppercase;
    color:#000;
}
.civil-container {
    float: left;
    margin-bottom: 100px;
    margin-top: -200px;
    width: 100%;
}
.civil {
    background: #f2f2f2 none repeat scroll 0 0;
    padding: 45px 0 30px;
     float: left;
       width: 100%;
}
.civil:hover{
    background: url("../img/boximg-hover.jpg");
	color:#fff;
}
.civil-icon-hover {
    display: none;
}
.civil:hover .civil-icon-hover {
    display: inline;
}
.civil:hover .civil-icon{
    display: none;
}
.civil a {
    color: #e49600;
}
.civil:hover h2{
	color:#fff;
}
.civil h2 {
    font-family: "Montserrat",sans-serif;
    font-size: 22px;
    margin-bottom: 20px;
     font-weight: 400;
    margin-top: 20px;
}
.container-fluid .col-md-6:first-child {
    padding: 0;
}
.topmenu3 {
    margin-top: 0;
}
.marigntop1 nav {
    margin-top: -10px;
}
.topmenu3 .top-header {
    padding:30px 0 40px;
}
.home-slider3 {
    margin-top: 119px;
}
.home-slider3 .caption {
    padding-top: 350px;
    text-align: left;
    width: 1140px;
}
.home-slider3 .caption h2 {
    font-size: 42px;
    line-height: 58px;
}
.home-slider3 .caption .cd-btn.secondary {
    background-color: #e49600;
}
.blue {
    background: #073823 none repeat scroll 0 0;
    color: #fff;
    padding-bottom: 30px;
    padding-top: 30px;
}
.blue h2 {
    color: #e49600;
    font-size: 22px;
    text-transform: capitalize;
}
.blue img {
    margin-bottom: 20px;
}
.ornge {
    background: #e49600 none repeat scroll 0 0;
    padding-bottom: 30px;
    padding-top: 30px;
}
.ornge img {
    margin-bottom: 20px;
}
.ornge h2
{
font-size: 22px;
    text-transform: capitalize;
}
.civil-container2 {
    float: left;
    margin-bottom: 100px;
    margin-top: -100px;
    width: 100%;
}
.civil-container3 {
    float: left;
    margin-bottom: 100px;
    margin-top: -100px;
    width: 100%;
}
.home-slider4 .caption {
    padding-top: 230px;
}
.civil-container3 .ornge {
    background: #f2f2f2 none repeat scroll 0 0;
}
.civil-container3 .blue {
    background: #f2f2f2 none repeat scroll 0 0;
}
/*-------practise-----*/
.practise {
    color: #fff;
    padding-bottom: 100px;
    padding-top: 100px;
    position: relative;
    text-align: center;
	background:#073823;
}
.practise .title h2 {
    color: #fff;
}
.practise span {
    color: #1da6d8;
}
.Practise-box > h2 {
    color: #e49600;
    font-size: 24px;
    text-transform: capitalize;
}
.Practise-box {
    border: 1px solid;
    min-height: 278px;
     margin-bottom: 30px;
    padding: 45px 0;
}
.Practise-box:hover{
	 background: url("../img/image-hover2.jpg");
	 
}
.Practise-box:hover img {
    display: none;
}
.practise .owl-pagination {
    display: none;
}
/*------- team -----*/
.team-wrapp{
    padding: 100px 0;
}
.team {
    background: #f2f2f2 none repeat scroll 0 0;
    padding:30px;
}
.team a {
    color: #073823;
}
.team a:hover{
    color: #e49600;
}
.team h2 {
    font-family: "Montserrat",sans-serif;
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 20px;
}
.team span {
    display: block;
    margin-bottom: 10px;
}
.team .social ul {
    padding: 0;
}
.team img {
    border: 5px solid;
    border-radius: 50%;
}
.team .social li {
    display: inline;
	margin:0 5px;
}
.attorneys-box {
    border: 1px solid #073823;
    height: 250px;
    margin-bottom: 50px;
    padding-top: 50px;
    text-align: center;
      position: relative;
}
.attorneys-box:hover , .attorneys-box:hover .img-icon ,.attorneys-box:hover h2
{
 background: #e49600 none repeat scroll 0 0;
 border: 1px solid #e49600;
}
.attorneys-box a {
 color:#e49600;
}

.attorneys-box h2 {
    font-size: 24px;
    text-transform: capitalize;
}
.img-icon {
    background: #000 none repeat scroll 0 0;
    display: block;
    margin: -70px auto 50px;
    padding: 8px;
    width: 66px;
}
.noumber {
    bottom: 0;
    color: #e7e7e7;
    font-family: "Playfair Display",serif;
    font-size: 100px;
    height: 75px;
    line-height: 72px;
    overflow: hidden;
    position: absolute;
    right: 0;
    z-index: 0;
}
.attorneys {
    padding: 100px 0 50px;
}
.pad-less {
    padding-bottom: 0;
}

/*-------blog-----*/
#blog{
	padding-bottom:100px;
}
.date-month {
    background: #34495e none repeat scroll 0 0;
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 20px;
    width: 60px;
	left:20px;
}
.date-month .date {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    float: left;
    font-size: 22px;
    font-weight: 700;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
.date-month .month {
    background: #e49600 none repeat scroll 0 0;
    float: left;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
.blog-content {
    background: #f2f2f2 none repeat scroll 0 0;
    margin-bottom: 30px;
    min-height: 490px;
    position: relative;
}
.blog-content:hover {
    background: #004D40 none repeat scroll 0 0;
  color:#fff;
}
.blog-content:hover.blog-content a {
    color: #fff;
}
.blog-content a {
    color: #2c3e50;
}
.blog-content a:hover{
    color: #388E3C;
}
.blog-content  h2 {
    font-family: "Montserrat",sans-serif;
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: -59px;
	background: #073823 none repeat scroll 0 0;
	position:relative;
	padding:18px 0;
	color:#fff;
}
.blog-content .social ul {
    padding: 0;
}
.blog-content .social li {
    display: inline;
	margin:0 5px;
}
.blog-content-text {
    padding: 30px;
}
.loding-btn {
    background: #073823 none repeat scroll 0 0;
    color: #fff;
    display: inline-table;
    margin-top: 15px;
    padding: 10px 40px;
    text-transform: uppercase;
}
blockquote::after {
    background: rgba(0, 0, 0, 0) url("../img/qoute2.jpg") no-repeat scroll 0 0;
    bottom: -34px;
    content: "";
    font-family: "FontAwesome";
    font-size: 45px;
    font-style: italic;
    height: 26px;
    position: absolute;
    right: 48%;
    width: 28px;
}
blockquote::before {
    background: rgba(0, 0, 0, 0) url("../img/qoute1.jpg") no-repeat scroll 0 0;
    top: -34px;
    content: "";
    font-family: "FontAwesome";
    font-size: 45px;
    font-style: italic;
    height: 26px;
    position: absolute;
    right: 48%;
    width: 28px;
}
blockquote {
    border: medium none;
    font-family: open sans;
    font-size: 21px;
    line-height: 36px;
    margin: 80px 0 80px;
    padding: 80px 0;
    position: relative;
    text-align: center;
}
blockquote footer {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #1e2324;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    padding-top: 20px;
    position: relative;
    text-align: center;
}
.news-details {
    text-align: center;
}
.news-details h3 {
    text-transform: capitalize;
}
.news-details li {
    display: inline;
    font-weight: 700;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
}
.news-details ul {
    margin-bottom: 30px;
    padding: 0;
}
.news-details p {
    margin-bottom: 30px;
}
.news-details strong {
    font-size: 15px;
    font-weight: 400;
}
.testimonal {
    background: #f5f5f5 none repeat scroll 0 0;
    padding: 100px 0;
}
.testimonal .caption {
    color: #000;
    padding: 0;
}
.testimonal .caption p {
    padding: 0 0 10px;
}
.testimonal .carousel-inner > .item {
    height: 400px;
}
.testimonal .caption > img {
    margin-bottom: 30px;
}
.cg
{
color: #e49600;
}
.testimonal .carousel-indicators .active {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background:#fff;
    border:2px solid #e49600;
}
.testimonal .carousel-indicators > li {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background:#073823;
}
/*---------- contactme ---------*/
.contactme{
	background: rgba(0, 0, 0, 0) url("../img/bg-per2.jpg") repeat scroll 0 20% / cover ;
    color: #fff;
    float: left;
    padding: 100px 0;
    width: 100%;
}
.contactme h2 {
    color: #fff;
    font-family: "Montserrat",sans-serif; 
	margin-bottom: 18px;
}
.contactme a {
    background: #fff none repeat scroll 0 0;
    display: inline-table;
    font-family: "Montserrat",sans-serif;
    margin-top: 30px;
    padding: 15px 30px;
    text-transform: uppercase;
}
/*---------- quote ---------*/

.quote-outer {
    background: #073823 none repeat scroll 0 0;
    float: left;
    padding: 100px 0;
    width: 100%;
}
.quote-outer .title h2 {
    color: #fff;
}
.quote-outer .title p {
    color: #fff;
}
.quote-outer form {
    color: #fff;
    margin: auto;
    width: 60%;
}
.quote-outer form .lable {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.quote-outer form input[type="text"], textarea {
    float: left;
    width: 100%;
     margin-bottom: 20px;
     color:#073823;
     padding: 8px 0;
}
.quote-outer input[type="submit"] {
    background: #e49600 none repeat scroll 0 0;
    border: medium none;
    color: #073823;
    margin-top: 20px;
    padding: 10px 50px;
    text-transform: uppercase;
}
.quote-outer .lable span {
    color: red;
}
/*---------- contact ---------*/
.contact {
    float: left;
    padding: 100px 0 0;
    width: 100%;
}

.contact form .lable {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.contact form input[type="text"], .contact form input[type="email"], textarea {
    border: 1px solid #073823;
    color: #073823;
    float: left;
    margin-bottom: 20px;
    padding: 8px 10px;
    width: 100%;
}
.contact input[type="submit"] {
    background: #073823 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 50px;
    text-transform: uppercase;
}
.contact .lable span {
    color: red;
}
.contact form {
    float: left;
    margin-top: 25px;
}
.contact span {
    margin-right: 10px;
}
.contact ul {   
   padding: 0;
}
.contact li {
    display: list-item;
    list-style: outside none none;
    margin-bottom: 20px;
}
/*---------- client ---------*/
.client ul {
    padding: 0;
}
.client li {
    display: inline;
    margin-right: 157px;
}
.client img {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

/* Disable grayscale on hover */
.client img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}
/*------- footer -----*/
footer {
    background: #073823 none repeat scroll 0 0;
    float: left;
    padding: 20px 0 0;
    width: 100%;
}
.fbdr {
    border-bottom: 1px solid #dc9102;
    border-top: 1px solid #dc9102;
    float: left;
    padding: 30px 0 0;
    width: 100%;
}
footer .weight ul {
    list-style: outside none none;
    margin-top: 13px;
    padding: 0;
}
footer .weight li {
    padding-bottom: 10px;
}
footer .social li
{
	display:inline;
}
footer .weight a {
    color: #fff;
}
footer .social-icon i {
    color: #e49600;
    margin-right: 6px;
}
footer .copyright {
    color: #fff;
    float: left;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
}
.firt-footer h2 {
    color: #fff;
     font-weight: 300;
    font-family: "Montserrat",sans-serif;
    font-size: 26px;
    margin-bottom: 30px;
}
.firt-footer strong {
    font-weight: 400;
}
.free-btn {
    background: #e49600 none repeat scroll 0 0;
    display: block;
    font-family: "Montserrat",sans-serif;
    font-size: 13px;
    margin-top: 16px;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
}
.free-btn:hover
{
color:#e49600;
background: #fff none repeat scroll 0 0;
}
footer .contact-form {
    float: left;
    padding: 25px;
    width: 100%;
}
footer .btn.btn-custom {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    width: 100%;
}
footer .form-group input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 0;
}
footer .form-group textarea {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 0;
}
footer .contact-bg strong {
    color: #fff;
    float: left;
    font-size: 24px;
    font-weight: normal;
    padding: 10px 0 17px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
footer .contact-bg {
    background: #fff none repeat scroll 0 0;
    border-radius: 8px;
    box-shadow: 2px 14px 46px #ddd;
    margin-top: -75px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
footer .contact-bg::before {
    background: #e49600 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: -90px;
    position: absolute;
    top: -384px;
    transform: skewY(175deg);
    width: 155%;
}
footer .address i {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    color: #000;
    font-size: 14px;
    height: 25px;
    margin-bottom: 9px;
    padding: 6px 1px;
    text-align: center;
    width: 25px;
}
footer .address span {
    color: #000;
    font-size: 22px;
    padding-left: 12px;
    text-transform: uppercase;
}
footer .weight > strong {
    color: #fff;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
     font-weight: 500;
}
footer .address p {
    color: #fff;
    padding: 15px 0;
}
footer .footer-bg {
 display: none;
}
footer .footer-bg::before {
    background: #000 none repeat scroll 0 0;
    bottom: -113px;
    content: "";
    height: 131px;
    position: absolute;
    transform: skewY(218deg);
    width: 100%;
}
footer .footer-bg::after {
    background: #e49600 none repeat scroll 0 0;
    bottom: -113px;
    content: "";
    height: 131px;
    position: absolute;
    transform: skewY(-230deg);
    width: 100%;
}

.our-values h5 {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    margin: 0 0 15px;
    font-family:Open Sans;
}
/*------- contact -----*/
.contact-box {
    float: left;
    width: 100%;
}
.single-box.text-center {
    background: #f9f9f9 none repeat scroll 0 0;
    line-height: 28px;
    margin-bottom: 60px;
    min-height: 256px;
    padding: 33px 0;
}
.single-box i {
    color: #e49600;
    font-size: 36px;
}
.form-group input[type="text"], .form-group input[type="password"], .form-group input[type="datetime"], .form-group input[type="datetime-local"], .form-group input[type="date"], .form-group input[type="month"], .form-group input[type="time"], .form-group input[type="week"], .form-group input[type="number"], .form-group input[type="email"], .form-group input[type="url"], .form-group input[type="search"], .form-group input[type="tel"], .form-group input[type="color"], .form-group textarea, .form-group select {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #8e9699;
    border-image: none;
    border-radius: 0;
    border-style: none none solid;
    border-width: medium medium 1px;
    box-shadow: none;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
    padding: 10px 5px;
    width: 100%;
}
#contact-form2 .btn {
    background: #e49600 none repeat scroll 0 0;
    border: 1px none;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    margin-top: 20px;
    outline: medium none;
    padding: 8px 24px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 300ms ease 0s;
}
#contact-form2 .btn:hover {
    background: #000 none repeat scroll 0 0;
    color: #fff;
}
.contact-bg {
    margin-bottom: 50px;
}
/*------- Resposive -----*/
@media (min-width: 220px) and (max-width: 320px) {
.cd-hero-slider {
    height: 474px;
}
.brd {
    margin-bottom: 20px;
}
.navbar {
    background: #fff none repeat scroll 0 0 !important;
    left: 0;
    top: 0 !important;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #e49600;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #000;
}
.navbar-inverse .navbar-toggle {
    border-color: #fff;
}
.header-hight .header-text {
    margin: 0px auto auto;
    position: absolute;
}
.header-hight {
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 220px;
}

.top-header {
  display: none;
}
footer .address span {
    font-size: 18px;
    padding-left: 12px;
}
.for-box .clr1 {
    margin-top: 50px;
}
.for-box .clr2 {
    margin-top: 50px;
}
.for-box .clr3 {
    margin-top: 50px;
}
.for-box .clr4 {
    margin-top: 50px;
}
.orgin {
    background: #ff6000 none repeat scroll 0 0;
    float: left;
    height: auto;
    left: 0;
    line-height: inherit;
    padding: 10px;
    position: relative !important;
    text-align: left;
    top: 0;
    width: 100%;
}
.navbar-nav {
    background: #e49600 none repeat scroll 0 0;
    float: left;
    font-size: 16px;
    margin: 0;
    padding: 10px 0;
    width: 100%;
}
.navbar-nav > li > a {
    color: #000 !important;
    line-height: inherit;
    padding: 10px 15px;
    transition: all 0.35s ease 0s;
}
.top-header {
    background: #282f3b none repeat scroll 0 0;
    float: left;
    text-align: center;
    width: 100%;
}
.header-text {
    display: block;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    margin: 0 auto auto;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

header {
    background: rgba(0, 0, 0, 0) url("../img/header.jpg") no-repeat scroll center 0 / cover ;
    color: #fff;
    height: 100%;
    line-height: 2;
    overflow: hidden;
    padding: 102px 0 0;
    transition: all 0.35s ease 0s;
}

.header-btn {
    font-size: 12px;
    padding: 12px;
}
.header-text > p {
    display: none;
}
.navbar-nav > li > a::before {
    border-right: medium none;
}
.navbar-collapse {
    background: #e49600 none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 99999999;
}
.navbar-toggle {
    margin-top: 13px;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #f5f5f5;
}
.social {
    display: none;
}
.top-header .email {
    display: none;
}
.tittle h2 {
    font-size: 21px;
    margin-top: 24px;
}
footer .contact-bg {
    float: left;
    margin: 65px 0;
}
footer .contact-bg::before {
    top: -365px;
}
.newslater input {
    display: table-row;
    margin: 50px 0;
}
#blog::before {
    display: none;
}
#blog .title {
    margin-bottom: 100px;
    margin-top: 0;
}
#blog .col-md-12 {
    margin-bottom: 100px;
}
.top-header {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.navbar {
    position: fixed;
    top: 42px;
    z-index: 999;
}
.navbar-toggle.collapsed {
    background: #fff none repeat scroll 0 0;
    border: 1px solid;
    border-radius: 0;
}
.cd-full-width > p {
    display: none;
}
.wbox {
    margin-bottom: 30px;
}
.about-box {
    margin-top: 0;
}
.counter span {
    color: #fff;
    display: inline-block;
    margin-bottom: 50px;
}
.newslater {
    padding: 50px 0;
}
#blog {
    padding: 50px 0;
}
.simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 0.5rem;
}
#blog .col-md-12{
    margin-bottom: 30px;
}
footer .address span {
    float: left;
    font-size: 19px;
    font-weight: 700;
    margin: 10px 0;
    padding-left: 0;
    width: 100%;
}
.counter {
    padding-bottom: 0;
    padding-top: 100px;
}
}
/*------- Resposive -----*/
@media (min-width: 320px) and (max-width: 480px) {
.cd-hero-slider {
    height: 474px;
}
.home-slider4 {
    margin-top: 46px;
}
.home-slider4 .caption {
    padding-top: 100px;
}
.quote-outer form { 
    width: 100%;
}
.contact ul {
    float: left;
    margin-top: 60px;
    padding: 0;
}
.logo2 {
    display: block;
    left: 23px;
    position: absolute;
    top: 14px;
    width: 30%;
}
.counter {
    padding-bottom: 0;
    padding-top: 100px;
}
.brd {
    margin-bottom: 20px;
}
.navbar {
    background: #fff none repeat scroll 0 0 !important;
    left: 0;
    top: 0 !important;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
    margin-left: 50px;
}
.navbar-inverse .navbar-toggle {
    border-color: #fff;
}
.header-hight .header-text {
    margin: 0px auto auto;
    position: absolute;
}
.header-hight {
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 220px;
}

.top-header {
  display: none;
}
footer .address span {
    font-size: 18px;
    padding-left: 12px;
}
.for-box .clr1 {
    margin-top: 50px;
}
.for-box .clr2 {
    margin-top: 50px;
}
.for-box .clr3 {
    margin-top: 50px;
}
.for-box .clr4 {
    margin-top: 50px;
}
.orgin {
    background: #ff6000 none repeat scroll 0 0;
    float: left;
    height: auto;
    left: 0;
    line-height: inherit;
    padding: 10px;
    position: relative !important;
    text-align: left;
    top: 0;
    width: 100%;
}
.navbar-nav {
    background: #073823 none repeat scroll 0 0;
    float: left;
    font-size: 16px;
    margin: 0;
    padding: 10px 0;
    width: 100%;
}
.navbar-nav > li > a {
    color: #fff !important;
    line-height: inherit;
    padding: 10px 15px;
    transition: all 0.35s ease 0s;
}
.nav.navbar-nav > li::before {
    display: none
}
.top-header {
    background: #282f3b none repeat scroll 0 0;
    float: left;
    text-align: center;
    width: 100%;
}
.header-text {
    display: block;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    margin: 0 auto auto;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

header {
    background: rgba(0, 0, 0, 0) url("../img/header.jpg") no-repeat scroll center 0 / cover ;
    color: #fff;
    height: 100%;
    line-height: 2;
    overflow: hidden;
    padding: 102px 0 0;
    transition: all 0.35s ease 0s;
}

.header-btn {
    font-size: 12px;
    padding: 12px;
}
.header-text > p {
    display: none;
}
.navbar-nav > li > a::before {
    border-right: medium none;
}
.navbar-collapse {
    background: #e49600 none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 99999999;
}
.navbar-toggle {
    margin-top: 13px;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #f5f5f5;
}
.hide-bg .social {
    display: none;
}
.top-header .email {
    display: none;
}
.tittle h2 {
    font-size: 21px;
    margin-top: 24px;
}
footer .contact-bg {
    margin: 65px 0;
}
footer .contact-bg::before {
    top: -365px;
}
.newslater input {
    display: table-row;
    margin: 50px 0;
}
#blog::before {
    display: none;
}
#blog .title {
    margin-bottom: 100px;
    margin-top: 0;
}
#blog .col-md-12 {
    margin-bottom: 100px;
}
.top-header {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.navbar {
    position: fixed;
    top: 42px;
    z-index: 999;
}
.navbar-toggle.collapsed {
    background: #fff none repeat scroll 0 0;
    border: 1px solid;
    border-radius: 0;
}
.cd-full-width > p {
    display: none;
}
.wbox {
    margin-bottom: 30px;
}
.about-box {
    margin-top: 0;
}
.counter span {
    color: #fff;
    display: inline-block;
    margin-bottom: 50px;
}
.newslater {
    padding: 50px 0;
}
#blog {
    padding: 50px 0;
}
.simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 0.5rem;
}
#blog .col-md-12{
    margin-bottom: 30px;
}
footer .address span {
    float: left;
    font-size: 19px;
    font-weight: 700;
    margin: 10px 0;
    padding-left: 0;
    width: 100%;
}
.hide-bg {
    padding: 0;
}
.caption {
    padding-top: 70px;
}
.caption h2 {  
    font-size: 35px;
}
.carousel-inner > .item {
    height: 600px;
}
.free-btn {
    font-size: 20px;
    margin-bottom: 20px;
}
.client li {
    display: inline;
    float: left;
    margin-right: 0;
    text-align: center;
    width: 100%;
}

.civil-container {
    margin-top: -134px;
    }
.about-box img {
    margin-bottom: 50px;
}
.inner-header-text {
    padding-top: 250px;
    width: 100%;
}
.civil {
    padding: 45px 20px 30px;
}
.title {
    font-size: 15px;
    padding: 0 20px;
}
.practise .title h2 {
    color: rgb(255, 255, 255);
    font-size: 35px;
}
}
@media (min-width: 481px) and (max-width: 640px) {
.practise .title h2 {
    color: rgb(255, 255, 255);
    font-size: 35px;
}
.cd-hero-slider {
    height: 474px;
}
.home-slider4 {
    margin-top: 46px;
}
.home-slider4 .caption {
    padding-top: 100px;
}
.quote-outer form { 
    width: 100%;
}
.contact ul {
    float: left;
    margin-top: 60px;
    padding: 0;
}
.logo2 {
    display: block;
    left:23px;
    position: absolute;
    top: 14px;
    width: 15%;
}
.counter {
    padding-bottom: 0;
    padding-top: 100px;
}
.brd {
    margin-bottom: 20px;
}
.navbar {
    background: #fff none repeat scroll 0 0 !important;
    left: 0;
    top: 0 !important;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
    margin-left: 50px;
}
.navbar-inverse .navbar-toggle {
    border-color: #fff;
}
.header-hight .header-text {
    margin: 0px auto auto;
    position: absolute;
}
.header-hight {
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 220px;
}

.top-header {
  display: none;
}
footer .address span {
    font-size: 18px;
    padding-left: 12px;
}
.for-box .clr1 {
    margin-top: 50px;
}
.for-box .clr2 {
    margin-top: 50px;
}
.for-box .clr3 {
    margin-top: 50px;
}
.for-box .clr4 {
    margin-top: 50px;
}
.orgin {
    background: #ff6000 none repeat scroll 0 0;
    float: left;
    height: auto;
    left: 0;
    line-height: inherit;
    padding: 10px;
    position: relative !important;
    text-align: left;
    top: 0;
    width: 100%;
}
.navbar-nav {
    background: #073823 none repeat scroll 0 0;
    float: left;
    font-size: 16px;
    margin: 0;
    padding: 10px 0;
    width: 100%;
}
.navbar-nav > li > a {
    color: #fff !important;
    line-height: inherit;
    padding: 10px 15px;
    transition: all 0.35s ease 0s;
}
.nav.navbar-nav > li::before {
    display: none
}
.top-header {
    background: #282f3b none repeat scroll 0 0;
    float: left;
    text-align: center;
    width: 100%;
}
.header-text {
    display: block;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    margin: 0 auto auto;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

header {
    background: rgba(0, 0, 0, 0) url("../img/header.jpg") no-repeat scroll center 0 / cover ;
    color: #fff;
    height: 100%;
    line-height: 2;
    overflow: hidden;
    padding: 102px 0 0;
    transition: all 0.35s ease 0s;
}

.header-btn {
    font-size: 12px;
    padding: 12px;
}
.header-text > p {
    display: none;
}
.navbar-nav > li > a::before {
    border-right: medium none;
}
.navbar-collapse {
    background: #e49600 none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 99999999;
}
.navbar-toggle {
    margin-top: 13px;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #f5f5f5;
}
.hide-bg .social {
    display: none;
}
.top-header .email {
    display: none;
}
.tittle h2 {
    font-size: 21px;
    margin-top: 24px;
}
footer .contact-bg {
    margin: 65px 0;
}
footer .contact-bg::before {
    top: -365px;
}
.newslater input {
    display: table-row;
    margin: 50px 0;
}
#blog::before {
    display: none;
}
#blog .title {
    margin-bottom: 100px;
    margin-top: 0;
}
#blog .col-md-12 {
    margin-bottom: 100px;
}
.top-header {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.navbar {
    position: fixed;
    top: 42px;
    z-index: 999;
}
.navbar-toggle.collapsed {
    background: #fff none repeat scroll 0 0;
    border: 1px solid;
    border-radius: 0;
}
.cd-full-width > p {
    display: none;
}
.wbox {
    margin-bottom: 30px;
}
.about-box {
    margin-top: 0;
}
.counter span {
    color: #fff;
    display: inline-block;
    margin-bottom: 50px;
}
.newslater {
    padding: 50px 0;
}
#blog {
    padding: 50px 0;
}
.simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 0.5rem;
}
#blog .col-md-12{
    margin-bottom: 30px;
}
footer .address span {
    float: left;
    font-size: 19px;
    font-weight: 700;
    margin: 10px 0;
    padding-left: 0;
    width: 100%;
}
.hide-bg {
    padding: 0;
}
.caption {
    padding-top: 70px;
    width: 100%;
}
.caption h2 {  
    font-size: 30px;
}
.carousel-inner > .item {
    height: 600px;
}
.free-btn {
    font-size: 20px;
    margin-bottom: 20px;
}
.client li {
    display: inline;
    float: left;
    margin-right: 0;
    text-align: center;
    width: 100%;
}
.civil-container {
    margin-top: -134px;
    }
.about-box img {
    margin-bottom: 50px;
}
.inner-header-text {
    padding-top: 250px;
    width: 100%;
}
.civil {
    padding: 45px 20px 30px;
}
.title {
    font-size: 15px;
    padding: 0 20px;
}
}

@media (min-width: 640px) and (max-width: 736px) {
.practise .title h2 {
    color: rgb(255, 255, 255);
    font-size: 35px;
}
.cd-hero-slider {
    height: 474px;
}
.title {
    font-size: 15px;
    padding: 0 20px;
}
.home-slider4 {
    margin-top: 46px;
}
.home-slider4 .caption {
    padding-top: 100px;
}
.quote-outer form { 
    width: 100%;
}
.contact ul {
    float: left;
    margin-top: 60px;
    padding: 0;
}
.logo2 {
    display: block;
    left: 23px;
    position: absolute;
    top: 14px;
    width: 15%;
}
.counter {
    padding-bottom: 0;
    padding-top: 100px;
}
.brd {
    margin-bottom: 20px;
}
.navbar {
    background: #fff none repeat scroll 0 0 !important;
    left: 0;
    top: 0 !important;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
    margin-left: 50px;
}
.navbar-inverse .navbar-toggle {
    border-color: #fff;
}
.header-hight .header-text {
    margin: 0px auto auto;
    position: absolute;
}
.header-hight {
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 220px;
}

.top-header {
  display: none;
}
footer .address span {
    font-size: 18px;
    padding-left: 12px;
}
.for-box .clr1 {
    margin-top: 50px;
}
.for-box .clr2 {
    margin-top: 50px;
}
.for-box .clr3 {
    margin-top: 50px;
}
.for-box .clr4 {
    margin-top: 50px;
}
.orgin {
    background: #ff6000 none repeat scroll 0 0;
    float: left;
    height: auto;
    left: 0;
    line-height: inherit;
    padding: 10px;
    position: relative !important;
    text-align: left;
    top: 0;
    width: 100%;
}
.navbar-nav {
    background: #073823 none repeat scroll 0 0;
    float: left;
    font-size: 16px;
    margin: 0;
    padding: 10px 0;
    width: 100%;
}
.navbar-nav > li > a {
    color: #fff !important;
    line-height: inherit;
    padding: 10px 15px;
    transition: all 0.35s ease 0s;
}
.nav.navbar-nav > li::before {
    display: none
}
.top-header {
    background: #282f3b none repeat scroll 0 0;
    float: left;
    text-align: center;
    width: 100%;
}
.header-text {
    display: block;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    margin: 0 auto auto;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

header {
    background: rgba(0, 0, 0, 0) url("../img/header.jpg") no-repeat scroll center 0 / cover ;
    color: #fff;
    height: 100%;
    line-height: 2;
    overflow: hidden;
    padding: 102px 0 0;
    transition: all 0.35s ease 0s;
}

.header-btn {
    font-size: 12px;
    padding: 12px;
}
.header-text > p {
    display: none;
}
.navbar-nav > li > a::before {
    border-right: medium none;
}
.navbar-collapse {
    background: #e49600 none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 99999999;
}
.navbar-toggle {
    margin-top: 13px;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #f5f5f5;
}
.hide-bg .social {
    display: none;
}
.top-header .email {
    display: none;
}
.tittle h2 {
    font-size: 21px;
    margin-top: 24px;
}
footer .contact-bg {
    margin: 65px 0;
}
footer .contact-bg::before {
    top: -365px;
}
.newslater input {
    display: table-row;
    margin: 50px 0;
}
#blog::before {
    display: none;
}
#blog .title {
    margin-bottom: 100px;
    margin-top: 0;
}
#blog .col-md-12 {
    margin-bottom: 100px;
}
.top-header {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.navbar {
    position: fixed;
    top: 42px;
    z-index: 999;
}
.navbar-toggle.collapsed {
    background: #fff none repeat scroll 0 0;
    border: 1px solid;
    border-radius: 0;
}
.cd-full-width > p {
    display: none;
}
.wbox {
    margin-bottom: 30px;
}
.about-box {
    margin-top: 0;
}
.counter span {
    color: #fff;
    display: inline-block;
    margin-bottom: 50px;
}
.newslater {
    padding: 50px 0;
}
#blog {
    padding: 50px 0;
}
.simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 0.5rem;
}
#blog .col-md-12{
    margin-bottom: 30px;
}
footer .address span {
    float: left;
    font-size: 19px;
    font-weight: 700;
    margin: 10px 0;
    padding-left: 0;
    width: 100%;
}
.hide-bg {
    padding: 0;
}
.caption {
    padding-top: 70px;
    width: 100%;
}
.caption h2 {  
    font-size: 30px;
}
.carousel-inner > .item {
    height: 600px;
}
.free-btn {
    font-size: 20px;
    margin-bottom: 20px;
}
.client li {
    display: inline;
    float: left;
    margin-right: 0;
    text-align: center;
    width: 100%;
}
.civil-container {
    margin-top: -134px;
    }
.about-box img {
    margin-bottom: 50px;
}
.inner-header-text {
    padding-top: 250px;
    width: 100%;
}
}

@media (min-width: 768px) and (max-width: 980px) {
.top-header {
    font-size: 9px;
    line-height: 12px;
}
.address .col-xs-12.col-sm-10.col-md-10 {
    padding: 0;
}
.time .col-xs-12.col-sm-10.col-md-10 {
    padding: 0;
}
.phone .col-xs-12.col-sm-10.col-md-10 {
    padding: 0;
}
.phone i {
    margin-top: 0px;
}
.time i {
    margin-top: 0px;
}
.about {
    padding: 100px 0 0;
}
.address i {
    margin-top: 0px;
}
.carousel-inner > .item {
    height: 700px;
    overflow: hidden;
}
.home-slider3 .caption {
    margin-left: 50px;
    padding-top: 180px;
    width: 1038px;
}
.about-box img {
    margin-bottom: 50px;
}
.caption {
    padding-top: 300px;
}
.caption h2 {
    font-size: 38px;
}
.civil {
    padding: 45px 5px 30px;
}
#blog .col-md-4 {
    float: left;
    width: 33.3333%;
}
.free-btn {
    background: #e49600 none repeat scroll 0 0;
    display: block;
    font-family: "Montserrat",sans-serif;
    font-size: 13px;
    margin-top: 25px;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
}
.nav > li > a {
    display: block;
    padding: 10px 12px;
    position: relative;
}
.navbar-inverse .navbar-nav > li > a {
    padding: 7px 7px;
    }
    .navbar-nav {
    width: auto;
}
.top-header .social a {
    font-size: 10px;
}
.header-btn {
    background: #161a1e none repeat scroll 0 0;
    color: #fff;
    display: table;
    font-size: 11px;
    margin: 20px auto auto;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.35s ease 0s;
}
footer .contact-bg::before {
    content: "";
    height: 100%;
    left: -90px;
    position: absolute;
    top: -384px;
    transform: skewY(173deg);
    width: 155%;
}
footer .address span {
    font-size: 14px;
}
.header-hight {
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 400px;
}
.about-box {
    text-align: left;
}
.tittle h2 {
    margin-top: 30px;
}
.about-box img {
    width: 100%;
}

.about strong {
    font-size: 14px;
}
header {
    background: rgba(0, 0, 0, 0) url("../img/header.jpg") repeat scroll 0 0 / cover ;
    color: #fff;
    height: 450px;
    overflow: hidden;
    transition: all 0.35s ease 0s;
}
#blog h3 {
    color: #000000;
    font-size: 14px;
    font-weight: 300;
}
.date small {
    color: #4b4b4b;
    display: block;
    font-size: 13px;
    font-weight: 300;
    line-height: 1em;
    padding: 6px 0 0 7px;
    text-transform: uppercase;
}
.about-box .date .time {
    color: #a2c331;
    font-family: "Open Sans",sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1em;
}
.header-text {
    color: #fff;
    margin: 158px auto auto;
    width: 745px;
     font-size: 27px;
}
.newslater {
    padding: 100px 0;
}
.top-header .social li {
    display: inline;
    margin-left: 4px;
}
.for-box .clr1 {
    margin-top:0px;
}
.for-box .clr2 {
    margin-top: 0px;
}
.for-box .clr3 {
    margin-top: 0px;
}
.for-box .clr4 {
    margin-top: 0px;
}
.navbar-nav > li > a {
    line-height: 44px;
}
footer .copyright {
    font-size: 12px;
}
footer .weight a {
  font-size: 12px;
}
.newslater span {
    float: left;
    font-size: 14px;
    margin-left: 4px;
    margin-top: 15px;
}
footer .footer-bg::before {
    transform: skewY(223deg);
}
footer .footer-bg::after {
    transform: skewY(-236deg);
}
.newslater .btn.btn-sm.btn-block {
    background: #e49600 none repeat scroll 0 0;
    border-radius: 0;
    font-size: 18px;
    padding: 14px 10px;
}
.for-box h2 {
    font-size: 25px;
}
.cd-hero-slider .cd-full-width, .cd-hero-slider .cd-half-width {
    padding-top: 280px;
}
.header-text > p {
    font-size: 17px;
    line-height: 28px;
}
footer .contact-bg::before {
    top: -373px;
    transform: skewY(175deg);
}
footer .contact-bg strong {
    font-size: 20px;
}
}
@media (min-width: 980px) and (max-width: 1024px) {
.caption {
    width: 100%;
}
.top-header {
    font-size: 9px;
    line-height: 12px;
}
.address .col-xs-12.col-sm-10.col-md-10 {
    padding: 0;
}
.time .col-xs-12.col-sm-10.col-md-10 {
    padding: 0;
}
.phone .col-xs-12.col-sm-10.col-md-10 {
    padding: 0;
}
.phone i {
    margin-top: 0px;
}
.time i {
    margin-top: 0px;
}
.about {
    padding: 100px 0 0;
}
.address i {
    margin-top: 0px;
}
.carousel-inner > .item {
    height: 700px;
    overflow: hidden;
}
.home-slider3 .caption {
    margin-left: 50px;
    padding-top: 180px;
    width: 1038px;
}
.about-box img {
    margin-bottom: 50px;
}
.caption {
    padding-top: 300px;
}
.caption h2 {
    font-size: 38px;
}
.civil {
    padding: 45px 5px 30px;
}
#blog .col-md-4 {
    float: left;
    width: 33.3333%;
}
.free-btn {
    background: #e49600 none repeat scroll 0 0;
    display: block;
    font-family: "Montserrat",sans-serif;
    font-size: 13px;
    margin-top: 25px;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
}
.free-btn
{
color:#fff;
}
.nav > li > a {
    display: block;
    padding: 10px 12px;
    position: relative;
}
.navbar-inverse .navbar-nav > li > a {
    padding: 7px 15px;
    }
    .navbar-nav {
    width: auto;
}
.top-header .social a {
    font-size: 10px;
}
.header-btn {
    background: #161a1e none repeat scroll 0 0;
    color: #fff;
    display: table;
    font-size: 11px;
    margin: 20px auto auto;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.35s ease 0s;
}
footer .contact-bg::before {
    content: "";
    height: 100%;
    left: -90px;
    position: absolute;
    top: -384px;
    transform: skewY(173deg);
    width: 155%;
}
footer .address span {
    font-size: 14px;
}
.header-hight {
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 400px;
}
.about-box {
    text-align: left;
}
.tittle h2 {
    margin-top: 30px;
}
.about-box img {
    width: 100%;
}

.about strong {
    font-size: 14px;
}
header {
    background: rgba(0, 0, 0, 0) url("../img/header.jpg") repeat scroll 0 0 / cover ;
    color: #fff;
    height: 450px;
    overflow: hidden;
    transition: all 0.35s ease 0s;
}
#blog h3 {
    color: #000000;
    font-size: 14px;
    font-weight: 300;
}
.date small {
    color: #4b4b4b;
    display: block;
    font-size: 13px;
    font-weight: 300;
    line-height: 1em;
    padding: 6px 0 0 7px;
    text-transform: uppercase;
}
.about-box .date .time {
    color: #a2c331;
    font-family: "Open Sans",sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1em;
}
.header-text {
    color: #fff;
    margin: 158px auto auto;
    width: 745px;
     font-size: 27px;
}
.newslater {
    padding: 100px 0;
}
.top-header .social li {
    display: inline;
    margin-left: 4px;
}
.for-box .clr1 {
    margin-top:0px;
}
.for-box .clr2 {
    margin-top: 0px;
}
.for-box .clr3 {
    margin-top: 0px;
}
.for-box .clr4 {
    margin-top: 0px;
}
.navbar-nav > li > a {
    line-height: 44px;
}
footer .copyright {
    font-size: 12px;
}
footer .weight a {
  font-size: 12px;
}
.newslater span {
    float: left;
    font-size: 14px;
    margin-left: 4px;
    margin-top: 15px;
}
footer .footer-bg::before {
    transform: skewY(223deg);
}
footer .footer-bg::after {
    transform: skewY(-236deg);
}
.newslater .btn.btn-sm.btn-block {
    background: #e49600 none repeat scroll 0 0;
    border-radius: 0;
    font-size: 18px;
    padding: 14px 10px;
}
.for-box h2 {
    font-size: 25px;
}
.cd-hero-slider .cd-full-width, .cd-hero-slider .cd-half-width {
    padding-top: 280px;
}
.header-text > p {
    font-size: 17px;
    line-height: 28px;
}
footer .contact-bg::before {
    top: -373px;
    transform: skewY(175deg);
}
footer .contact-bg strong {
    font-size: 20px;
}
}
